*{
    padding: 0;
    margin: 0;
/*    border: 1px solid black;*/
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1.2rem 0;
}

header>p {
    font-size: 1.5rem;
    font-weight: 700;
}

header>ul{
    display: flex;
}

header>ul>li{
    list-style-type: none;
    margin-left: 1.5rem;
}

header>ul>li>a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color: gray;
}

header>ul>li:first-child>a{
    border-bottom: 5px solid black;
    color: black;
}

header>ul>li>a:hover{
    border-bottom: 5px solid gray;
}

@media screen and (max-width:700px){
    header{
        flex-direction: column;
    }
}
   

section{
    width: 1200px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

section>section-category{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 1100px;
    height: 50px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    
}

section>section-detail{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 1100px;
    height: 300px;
    justify-content: space-between;
}

section>section-sum{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

section>section-sum>p{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

section>section-sum>p:last-of-type{
    color: red;
   
}

section>section-button{
    width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    
  
}

section>section-button>a{
display: block;
border: 1px solid black;
width: 150px;
font-size: 1.3rem;
font-weight: 500;
padding: 1rem;
border-radius: 10px;
text-decoration: none;
text-align: center;
color: black;
background-color: white;
}

section>section-button>a:hover{
    background-color: gray;
    color: white;
}

footer{
    margin-bottom: 2rem; 
    font-size: 1.1rem;
 
}

footer>a{
    text-decoration: none;
    padding: 10px;
    
    
}